body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;

    background-image: url("../img/background_01.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}