th {
    background-color: #FB6100 !important;
    color: #FFFFFF !important;
    text-align: left;
    border: none !important;
}

td {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    padding-top: 40px !important;
    padding-bottom: 40px !important;

}

#titulo_aptdo {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #FB6100;
    text-align: center;
}

#container_platos {
    max-width: 1080px;
}

#tabla-platos {
    box-shadow: rgb(0 0 0 / 15%) 0px 0.5rem 1rem !important;
    border-radius:10px;
    margin-bottom: 100px;
}

.btn-eliminar {
    border: none;
    border-radius: 10px;
    background-color: #FB6100;
    color:#ffffff;
    padding: .5rem;
    margin: 10px;
    width:130px;
    height:40px;
}
.btn-cancelar {
    border: none;
    border-radius: 10px;
    background-color: #818181;
    color:#ffffff;
    padding: .5rem;
    margin: 10px;
    width:130px;
    height:40px;
}
.modal-header{
    border-bottom: none;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 2rem;
}
.modal-h1 {
    font-size: 45px;
}

.modal-p {
    font-size: 1.5rem;
    font-weight: 400;
}

.select {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: calc(1.5em + 0.75rem + 2px);
    width: 100%;

}

.icono {
    color: #FB6100;

}
