th {
    background-color: #FB6100 !important;
    color: #FFFFFF !important;
    text-align: left;
    border: none !important;
}

td {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height:80px;
    text-align: left;
}

#titulo_aptdo {
    margin-top: 50px;
    margin-bottom: 20px;
    color: #FB6100;
    text-align: center;
}

#container_platos {
    max-width: 1080px;
}

#tabla-platos {
    box-shadow: 5px 5px 10px;
    border-radius:10px;
    margin-bottom: 100px;
}
