/* Reseteamos css */

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Montserrat Alternates', sans-serif;
}

a:hover{
    text-decoration: none;
    color: #fff;
}

body {
    background-color: #F8F8FA;
}

.nav-langosta {
    background-color: #FB6100;
}

.bg-dark {
    background-color: transparent !important;
}

.navbar-brand {
    color: #ffffff;
}

.nav-link{
    color: #ffffff;
}

.nav-link:hover {
    color: #F8F8FA;
}

.dropdown-menu {
    background-color: #fa9c62;
}

.btn-eliminar {
    border: none;
    border-radius: 10px;
    background-color: #FB6100;
    color:#ffffff;
    padding: .5rem;
    margin: 10px;
    width:130px;
    height:40px;
}
.btn-cancelar {
    border: none;
    border-radius: 10px;
    background-color: #818181;
    color:#ffffff;
    padding: .5rem;
    margin: 10px;
    width:130px;
    height:40px;
}


.modal-p {
    font-size: 1.5rem;
    font-weight: 400;
}

.title-h1 {
    color: #FB6100;
    text-align: center;
}