<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Login Langosta</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}"  rel="stylesheet" />
    <link href="../static/css/styles.css" th:href="@{/css/formularios.css}"  rel="stylesheet" />
    <!--    Libreria de iconos de FontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <!--Fuente importada de Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap" rel="stylesheet">
</head>
<body th:style="'background: url(/img/background_01.png) no-repeat center center fixed;'">

<!-- Inicio navbar -->
<div class="container-fluid nav-langosta">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/navbar_langosta.png}" alt="" class="d-inline-block align-text-top">
                Langosta.food
            </a>
        </div>
    </nav>
</div>

<!--cierre navbar-->
<div class="container">
    <h1 class="mt-5 mb-5 title-h1">Login</h1>
    <div class="row justify-content-center">
        <div class="col-5">
            <div id="tabla-formulario">
                <form th:action="@{/signin}" method="post" sec:authorize="!isAuthenticated()">

                    <label for="nombreUsuario">Nombre de Usuario</label>
                    <input type="text" class="form-control" id="nombreUsuario" name="nombreUsuario" required="required" autocomplete="off">

                    <div class="form-group">
                        <label for="password">Contraseña</label>
                        <input type="password" class="form-control" id="password" name="password" required="required">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="checkRememberMe">
                        <label class="form-check-label" for="checkRememberMe">Recordarme</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-success btn-block">
                            <i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
                        <p class="text-center mt-3">¿No tienes cuenta? <a class="a-register" th:href="@{/register}"> Registrate aquí.</a></p>
                    </div>

                </form>
            </div>
            <div th:if="${param.error}" class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                <p>Credenciales Erróneas</p>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<footer class="text-center text-white fixed-bottom" style="background-color: #EFEDEA;">
    <!-- Copyright -->
    <div class="text-center p-3" style="color: black;">© 2022
        <a href="https://sites.google.com/uoc.edu/langosta-food/home" target="_blank" style="color:black;">Langosta.food
        </a>
    </div>
    <!-- Copyright -->
</footer>
</body>
</html>