<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf,org">
<head>
    <meta charset="UTF-8">
    <title>¡ParaCasa! langosta.food</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}"  rel="stylesheet" />
</head>
<body>
<header>

</header>
<div class="container-fluid nav-langosta">
    <nav class="navbar navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img th:src="@{/img/langosta.png}" alt="" width="29" height="30" class="d-inline-block align-text-top">
                Langosta.food
            </a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Features</a>
                    <a class="nav-link" href="#">Pricing</a>
                    <a class="nav-link disabled">Disabled</a>
                </div>
            </div>

        </div>
    </nav>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid text-center">
    <div><h2 class="h2">Gestion de Menús</h2></div>
    <div class="m-2">
        <a class="h4" th:href="@{/menus/new}">Añadir nuevo Menú</a>
    </div>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>


    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>ID Menú</th>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Productos</th>
                    <th>En Stock</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <th:block th:each="menu : ${listMenus}">
                    <tr>
                        <td>[[${menu.idmenu}]]</td>
                        <td>[[${menu.nombre}]]</td>
                        <td>[[${menu.precio}]]</td>
                        <td>[[${menu.productos}]]</td>
                        <td>[[${menu.enabled}]]</td>
                        <td>
                            <a class="h4 mr-3" th:href="@{'/menus/edit/' + ${menu.idmenu} }">Editar</a>
                            <a class="h4 mr-3" th:href="@{'/menus/delete/' + ${menu.idmenu} }">Borrar</a>
                        </td>
                    </tr>
                </th:block>
            </tbody>

        </table>
    </div>
</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>