<!DOCTYPE html>
<html lang="en" xmlns:th="http:www.thymeleaf,org">
<head>
    <meta charset="UTF-8">
    <title>¡ParaCasa! langosta.food</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}"  rel="stylesheet" />
    <link href="../static/css/styles.css" th:href="@{/css/platos.css}"  rel="stylesheet" />
    <!--    Libreria de iconos de FontAwsome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />

</head>

<body>

<!-- Inicio navbar -->
<div class="container-fluid nav-langosta">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/img/navbar_langosta.png}" alt="" class="d-inline-block align-text-top">
                Langosta.food
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">Menús</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/productos}">Platos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Opciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/menus/new}">Nuevo menú</a></li>
                            <li><a class="dropdown-item" th:href="@{/productos/new}">Nuevo plato</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<!--cierre navbar-->

<h1 id="Editar / Crear nuevo plato">Platos</h1>

<div class="container-fluid text-center">
    <div class="text-center">
        <h2>[[${pageTitle}]]</h2>
    </div>
    <form th:action="@{/productos/save}" method="post" th:object="${producto}"
          style="max-width: 500px; margin: 0 auto">
        <input type="hidden" th:field="*{idproducto}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nombre</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nombre}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Precio</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{precio}" class="form-control" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Productos</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{productos}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">En Stock:</label>
                <div class="col-sm-8">
                    <input type="checkbox" th:field="*{enabled}"/>
                </div>
            </div>
            <div class="text-center">
                <button  type="submit" class="btn btn-primary m-2">Guardar</button>
                <button  type="button" class="btn btn-secondary m-2" onclick="cancelForm()">Cancel</button>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    function cancelForm(){
        window.location="[[@{/menus}]]";
    }

</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
</body>

<footer class="text-center text-white fixed-bottom" style="background-color: #EFEDEA;">
    <!-- Copyright -->
    <div class="text-center p-3" style="color: black;">© 2022
        <a href="https://sites.google.com/uoc.edu/langosta-food/home" target="_blank" style="color:black;">Langosta.food
        </a>
    </div>
    <!-- Copyright -->
</footer>


</html>